#site-footer a {
  vertical-align: middle;
  font-size: 2em;
  text-decoration: none;
  color: var(--text-color);
  margin: auto 1%;
}

#site-footer a:hover {
  color: #1DCDFE;
}

#site-footer hr {
  margin: 2% 30%;
}