:root {
    --margin-size: 15vw;
    --max-page-width: calc(100vw - (var(--margin-size) * 2));
    --testing-border-size: 0px;
    --odd-page-color: #231F20;
    --even-page-color: #BB4430;
    --link-color: #EBCFB2;
    --text-color: #EBCFB2;
    --section-color: calc(var(--page-color) *.7)
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    padding: 0;
    margin: 0;
    font-size: x-large;
}

a {
    color: #6F3228;
}

a:hover {
    opacity: 70%;
}

.page-section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: space-evenly;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    min-height: 100vh;
}

.section-split {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 90%;
    min-height: 700px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transform: scale(0.8);
}

.section-split-transition {
    opacity: 1;
    transform: none;
}

.section-content {
    opacity: 0;
    transform: scale(0.8);
    max-width: 50%;
    width: 50%;
}

#notransition {
    opacity: 1;
    transform: none;
}

@media (prefers-reduced-motion: no-preference) {
    .section-content {
        transition: opacity 1.5s ease, transform 1.5s ease;
    }

    .section-split {
        transition: opacity 1.5s ease, transform 1.5s ease;
    }
}

.section-content-transition {
    opacity: 1;
    transform: none;
}

.body {
    width: 100%;
}

.body .page-section:nth-of-type(odd) {
    background: var(--odd-page-color);
    color: var(--even-page-color);
}

.body .page-section:nth-of-type(even) {
    background: var(--even-page-color);
    color: var(--odd-page-color);
}

.flex-div {
    width: 100%;
    display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
}

.tech-icon {
    width: 100px;
    padding: 1%;
}

.tech-icon.project {
    font-size: 1em;
}

.tech-icon.small {
    font-size: 1em;
    width: 32px;
    height: 32px;
    border: none;
}

.portrait-image {
    width: 50%;
}

@media (max-aspect-ratio: 1/1)
 {
    .section-split {
        flex-direction: column;
    }

    .section-content {
        width: 80vw;
        max-width: 80vw;
    }
}