:root {
  --margin-size: 15vw;
  --max-page-width: calc(100vw - (var(--margin-size) * 2));
  --testing-border-size: 0px;
  --page-color: #1B1B1B;
  --text-color: #FFFFFF;
  --section-color: calc(var(--page-color) *.7)
}

.whole-page {
  margin: 0 auto;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  color: var(--text-color);
  font-size: normal;
  min-width: min-content;
  max-width: var(--max-page-width);
}

body {
  background-color: var(--page-color);
}

.site-banner {
  display: inline;
  text-align: center;
  max-width: 100%;
}

.site-body {
  text-align: center;
  display: block;
}

.flex-div {
  padding: 4px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.flex-content {
  margin: 2px;
  border: var(--testing-border-size) dashed pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  justify-content: space-between;
}

.flex-content iframe, .flex-content img {
  border: 5px solid var(--header-background);
  object-fit: contain;
  box-sizing: border-box;
  overflow: hidden;
  width: 206px;
  height: 165px;
}

.project-flex {
  justify-content: space-between;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  padding: 4px;
  opacity: .5;
}

.project-flex:hover {
  opacity: 1;
}

.project-details {
  border: var(--testing-border-size) dashed pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 4px;
  flex-shrink: 0;
  max-width: 100%;
  margin: auto;
}

.project-summary {
  max-width: 75%;
  margin: auto;
}

.project-title h1, 
.project-title h2, 
.project-title h3 {
  margin: 0;
}

.project-details img {
  border: 5px solid var(--header-background);
  object-fit: contain;
  box-sizing: border-box;
  overflow: hidden;
  height: 150px;
}

.tech-icon {
  font-size: 5em;
}

.tech-icon.project {
  font-size: 4em;
}

.tech-icon.small {
  font-size: 2em;
  width: 32px;
  height: 32px;
  border: none;
}

.section {
  border: 5px solid black;
  margin-bottom: 10px;
  background-color: var(--section-color);
}

.devicon-gml-plain {
  src: url(../img/icons/game-maker.svg);
}

hr {
  color: var(--text-color);
  margin: 2% 40%;
}

a {
  color: #1DCDFE;
}

a:hover {
  opacity: .7;
}

strong {
  color: #34F5C6;
}

h1 {
  color: #34F5C6;
}

h2 {
  color: #1DCDFE;
}