code {
    font-size: larger;
    background-color: darkslateblue;
    padding: 2px;
}

.project-container {
    display: inline-flex;
    align-items: center;
}

.project-container.item {
    display: inline;
    margin: 1%;
    text-align: center;
}

.project-promo-image {
    border: solid 2px gray;
    width: 100%;
    margin: 2%;
}

.column-container {
    width: 100%;
}

.column-container .column .item {
    display: inline-block;
    margin: 2%;
    width: 100%;
}

.column-container .column {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.table table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
}

.table table, .table th, .table td {
    border: 2px solid var(--text-color);
    border-collapse: collapse;
    margin: auto;
}

.table td {
    border: 1px solid var(--text-color);
}

.table img {
    width: 100%;
}

.table.no-border table, .table.no-border th, .table.no-border td {
    border: 0;
}

.contract-heading {
    color: #1DCDFE;
    margin-bottom: 0;
}

.contract-summary {
    margin-top: 0;
}

h1, h2 {
    margin-bottom: 0px;
}