.promo-image {
    width: 50%;
}

.project-description {
    width: 100%;
}

.section-container {
    width: 50%;
}

.project-media {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    border: 5px solid white;
    border-radius: 5px;
}

.page-section:nth-of-type(even)>.section-container>.project-media {
    border-color: var(--odd-page-color);
}

.page-section:nth-of-type(odd)>.section-container>.project-media {
    border-color: var(--even-page-color);
}

.back-button .hidden {
    visibility: none;
}

a {
    text-decoration: underline;
}

.page-section:nth-of-type(even)>.section-container>p>a {
    color: var(--odd-page-color);
}

.page-section:nth-of-type(odd)>.section-container>p>a {
    color: var(--even-page-color);
}