.promo-image {
    width: 50%;
}

.project-description {
    width: 100%;
}

.section-container {
    width: 50%;
}

.project-media {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
}

.project-url-container {
    display: flex;
}

.project-url {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: var(--accent);
    border: 5px solid var(--accent);
    border-radius: 25px;
    text-decoration: none;
    background-color: var(--secondary);
    min-width: 25%;
    max-width: fit-content;
}

.page-section:nth-of-type(odd) .project-url {
    background-color: var(--background);
}

.back-button .hidden {
    visibility: none;
}

a {
    text-decoration: underline;
}

@media (max-aspect-ratio: 1/1) {
    .section-container {
        width: 100vw;
        max-width: 100vw;
    }
}