.scroll-prompt {
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 0vh;
    z-index: 100;
}

.scroll-prompt .shape {
    animation-name: scroll-prompt-shape;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: white;
}

.hide {
    opacity: 0%;
}

@keyframes scroll-prompt-shape {
    0% {
        opacity: 0%;
        translate: 0 -30%;
    }

    100% {
        translate: 0 0%;
    }
}