/* itch embed */
.itch-embed {
    width: 552px;
    height: 167px;
    max-width: 100%;
}

.itch-embed html {
    color: #FFFFFF;
}

/* Image Showcases */
.image-showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    max-width: 1080px;
    margin: auto;
}

.image-showcase img.selected {
    border-color: var(--link-color);
    opacity: 80%;
}

.image-showcase.large {
    flex-direction: column;
    width: 100%;
}

.image-showcase.large img,
.image-showcase.large iframe {
    max-width: 1080px;
    width: 100%;
    opacity: 100%;
}

/* image & devlog showcases */
.image-showcase img,
.image-showcase>iframe {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    max-width: 160px;
}

.devlog-showcase img {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    max-width: 320px;
}

/* devlog showcases */
.devlog-showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 1920px;
    margin: auto;
}

.devlog-showcase a:hover {
    opacity: 50%;
    cursor: pointer;
}

.devlog-showcase img {
    border-color: var(--page-color-even);
}

.devlog-showcase article {
    margin: 8px;
    max-width: 347px;
}

/* video thumbnails */
.image-thumbnail:hover {
    opacity: 50%;
    cursor: pointer;
}

.image-thumbnail {
    position: relative;
    margin: 8px;
}

.image-thumbnail i {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.image-thumbnail i:hover {
    opacity: 100%;
    cursor: pointer;
}

.image-thumbnail img:hover {
    opacity: 100%;
    cursor: pointer;
}

#intro-section {
    background-image: url("/img/game/game-logo.png");
    background-position: center;
    background-size: cover;
}

#intro-section h1 {
    font-size: 8em;
}

#intro-section h2 {
    font-size: 2em;
}