:root {
    --testing-border-size: 2px;
    --margin-size: 20%;
    --page-width: calc(100% - var(--margin-size) * 2);
    --page-color: #1B1B1B;
    --button-background: #3C4043;
    --button-border: #333333;
    --text-color: white;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--page-color);
    word-wrap: break-word;
    margin-left: var(--margin-size);
    margin-right: var(--margin-size);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.link {
    color: var(--text-color);
}

.link.large {
    text-decoration: none;
}

.link.image {
    
}

.link.header {
    
}

.link:hover {
    opacity: .7;
}