:root {
  --page-color: #1B1B1B;
  --text-color: #FFFFFF;
}

html {
    text-align: center;
    background-color: var(--page-color);
    color: var(--text-color);
    font-family: 'Fira Code', monospace;
    font-size: large;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.social-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    box-sizing: padding-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.link-display {
    display: inline-block;
    box-sizing: padding-box;
    width: 100%;
    max-width: 540px;
}

.link div {
    border: 2px solid var(--text-color);
    height: max-content;
    min-width: min-content;
    padding: 8px;
    color: var(--text-color);
}

.social-links {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: flex-start;
}

.social-links a {
    height: max-content;
    min-width: min-content;
    margin: 16px;
    color: var(--text-color);
    font-size: xx-large;
}

.link {
    text-decoration: none;
}

.soon div {
    opacity: 0.75;
}

.link-display hr {
    visibility: hidden;
    margin: 2%;
}

.site-logo {
    width: 100%;
    max-width: 540px;
}

footer {
    margin-top: 32px;
}

footer a {
    color: var(--text-color);
}

.profile-container {
    width: 100%;
    max-width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    max-width: 50%;
    width: 100%;
    margin-top: 1vh;
}

.profile-container:nth-child(odd) .profile {
    flex-direction: row-reverse;
}

.profile h3, .profile p {
    margin: 0;
    font-size: large;
}

.profile div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.profile img {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.link:hover div, .social-links a:hover, footer a:hover {
    opacity: 0.75;
}

@media only screen
and (orientation: portrait) {
    html {
        font-size: large;
    }

    .profile, .profile-container:nth-child(odd) .profile {
        flex-direction: column;
    }

    .site-logo, .link-display, .profile {
        width: 100%;
        max-width: 100%;
    }
    
    .container {
        width: 100vw;
        max-width: 100%;
    }
}