.three-promo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    max-width: 100%;
}

.three-promo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 30%;
    height: 100%;
    transform: scale(0.9);
    transition: 1s;
}

.three-promo-card:hover {
    transform: scale(1);
}

.three-promo-card:hover .image-hover-display {
    visibility: visible;
    opacity: 1;
}

@media (max-aspect-ratio: 1/1) and (max-width: 10in) and (min-width: 7in) {
    .three-promo-card {
        max-width: 100%;
        width: 100%;
        flex-direction: row;
    }

    .three-promo-card>div {
        width: 45%;
        margin: auto;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 7in) {
    .three-promo {
        flex-direction: column;
    }

    .three-promo-card {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }

    .three-promo-card>div {
        width: 100%;
        margin: auto;
    }
}

@media (pointer:coarse) {
    .three-promo-description {
        display: block;
    }
}