.site-footer {
  text-align: center;
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  inline-size: var(--page-width);
  margin-bottom: 0;
  color: white;
}

.footer-object {
  border: 1% solid #333333;
  display: flex;
  position: absolute;
  text-align: center;
  background-color: #3C4043;
  justify-content: space-between;
  align-items: baseline;
  inline-size: var(--page-width);
  border: 4px solid black;
  box-sizing: border-box;
  min-height: var(--min-footer-height);
  max-height: var(--max-footer-height);
  height: max-content;
  flex-wrap: wrap;
}

.footer-identity {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.footer-identity.title {
  font-size: 100%;
  display: inline-block;
  text-align: left;
  color: white;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-socials {
  border: var(--border-size) dashed pink;
  display: inline-flex;
  margin-right: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}