:root {
  --margin-size: 20%;
  --page-width: calc(100% - var(--margin-size) * 2);
  --min-header-height: 10%;
  --max-header-height: 20%;
  --min-footer-height: 10%;
  --max-footer-height: 20%;
  --page-color: #1B1B1B;
  font-family: 'JetBrains Mono', monospace;
}

.article-page {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

body {
  background-color: var(--page-color);
}

.site-identity {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  max-height: 100%;
  max-width: 25%;
}

.site-body {
  display: block;
}