<!DOCTYPE html>

<meta http-equiv="content-type" content="text/html" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@cdgamedev" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Hayley Davies - Project Template" />
<meta property="og:description" content="Portfolio Site Project page for Hayley Davies." />
<meta property="og:url" content="https://hayleydavi.es/templates/project-template.html" />
<meta property="og:image" content="https://hayleydavi.es/img/projects/cdgamedev-github-io.png" />

<meta http-equiv="content-type" content="text/html" charset="utf-8"/>
<html class="whole-page">
    <head>
        <title>Project: Template</title>
        
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <link rel="stylesheet" href="/css/main-site.css">
        <link rel="stylesheet" href="/css/projects.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
        <script src="https://kit.fontawesome.com/2d7cda5ffb.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/load-content.js"></script>
    </head>

    <body class="whole-page">
        <!--HEADER-->
        <header id="header"></header>
        <!--HEADER END-->
        <h1>Project Template</h1>
        <h5>Last Updated: 19 Jan 2021</h5>
        <hr>
        <span class="project-container">
            <div class="project-container item">
                <i class="devicon-github-plain tech-icon project-technologies"></i>
                <img class="project-promo-image" src="/img/projects/cdgamedev-github-io-promo.png">
            </div>
            <div class="project-container item">
                <h1>Information:</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span class="gap medium"></span>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<span class="gap medium"></span>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span class="gap medium"></span>
                </p>
            </div>
        </span>
        
        <h1>Links:</h1>
        <a href="https://hayleydavi.es">Link 1</a><span class="gap small"></span>
        <a href="https://hayleydavi.es">Link 2</a><span class="gap small"></span>
        <a href="https://hayleydavi.es">Link 3</a><span class="gap small"></span>
        <a href="https://hayleydavi.es">Link 4</a><span class="gap small"></span>

        <!--FOOTER-->
        <footer id="footer"></footer>
        <!--FOOTER END-->
    </body>
</html>